@import "vars"
@import "sizes"

.clearfix
  &:after
    content: ''
    display: table
    clear: both
    
.btn
  max-height: 61px
  max-width: $main-max-width
  line-height: 61px
  font-size: em(28)
  text-align: center
  margin: 0 auto
  color: $main-background-color
  transition: .2s
  &:hover
    background: $accent-hover-color
  &:active
    background: darken($accent-color, 15)
  &:not(:active)
    background-color: $accent-color
  a
    &:hover
      background: $accent-hover-color
    &:active
      background: lighten($accent-color, 15)
      color: white
    &:not(:active)
      background-color: $accent-color
      color: white

input[type=email], textarea
  width: 100%
  margin: 0  auto
  display: block
  border: $accent-color 1px solid
  padding: 10px
  &::placeholder
    color: #a6a6a6
    font-style: italic

.hidden
  display: none !important

textarea
  height: 120px
  resize: both

.redirect-link
  color: $accent-color
  text-decoration: underline

.social-net-icon
  width: 65px
  height: 65px
