@import "../vars"
@import "../sizes"
@import "../rollup"

.modal
  .submit-result-contaner
    width: 100%
    height: 165px
    position: absolute
    z-index: 1002
    top: 50%
    transform: translateY(-50%)
    .submit-result-wrapper
      border: 1px black solid
      background: $main-background-color
      height: 100%
      width: 320px
      margin: 0 auto
      position: relative
      .submit-result-message
        position: absolute
        top: 50%
        left: 50%
        transform: translateY(-50%) translateX(-50%)
        width: 320px
        text-align: center
        p
          font-size: em(24)
      .close-btn
        width: 25px
        height: 25px
        position: absolute
        top: 0
        right: 0
        &:after, &:before
          content: ''
          position: absolute
          left: 0
          top: 50%
          width: 25px
          height: 3px
          background: black
          transform: rotate(45deg)
        &:before
          transform: rotate(-45deg)


.results
  max-width: 600px
  margin: 0 auto
  overflow: hidden
  padding: 0 10px 10px 10px
  background: $main-background-color
  border: 1px black solid
  h1
    font-size: em(22)
    font-weight: bold
    text-align: center
    margin:
      top: em(13)
      bottom: em(17)
  h2
    margin:
      top: em(13)
    font-size: em(18)
    font-weight: bold
  p, ul
    margin:
      top: em(8)
      bottom: em(13)
    ul
      margin:
        top: em(20)
      span.rollup-container-name
        font-weight: bold
  ul.accentuations-description li
    margin:
      top: em(10)
  ul.types-classification
    li
      position: relative
      font-weight: normal
      margin:
        top: 8px
        left: 16px
      &::before
        content: ""
        width: 8px
        height: 1px
        position: absolute
        background: black
        top: 10px
        left: -15px
  .extra-info
    font-weight: bold
  .rollup-container
    background: white
    margin-top: 5px
    transition: .4s
    .rollup-container
      margin-bottom: 5px
    a
      background: $accent-color
      color: white
      &:after
        border-left-color: white
    .rollup-content
      max-height: 0px
      p
        font-size: em(17)
      ul
        font-size: em(18)
        li
          font-size: rem(17)
    &.active
      & > .rollup-content
        max-height: 3500px
    &#chart-data
      &.active
        > .rollup-content
          max-height: 120px

form
  margin-top: 20px
  textarea
    resize: none
  .btn
    border: none
    display: block
    width: 100%
    margin-top: 15px


.social-share
  max-width: 425px
  margin: 22px auto 0 auto
  p
    text-align: center
  .social-container
    float: left
    width: 25%
    text-align: center
    .social-btn
      width: 65px
      height: 65px
      margin: 0 auto
      cursor: pointer
      display: block
    .facebook
      background: url('../../img/icons/facebook.svg')
    .twitter
      background: url('../../img/icons/twitter.svg')
    .vk
      background: url('../../img/icons/vk.svg')
    .ok
      background: url('../../img/icons/odnoklassniki-logo.svg')
  
.forward-main
  text-align: center
  display: inline-block
  width: 100%
  color: blue
  font-size: em(24)
  margin:
    top: 34px
    bottom: 20px
  text-decoration: underline

footer
  background: black
  max-width: 600px
  margin: 0 auto
  p
    font-size: 12px
    text-align: center
    color: #dedede
